{
  "openapi": "3.1.0",
  "info": {
    "title": "Union Credit Publisher API",
    "description": "Retrieve and redeem offers for a consumer",
    "termsOfService": "https://api.unioncredit.app/termsOfService",
    "contact": {
      "name": "API Support",
      "url": "https://api.unioncredit.app/support",
      "email": "support@unioncredit.app"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://api.unioncredit.app/license"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://integration.unioncredit.app/api",
      "description": "Sandbox server"
    },
    {
      "url": "https://further.unioncredit.app/api",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "AUTHENTICATION",
      "description": "Authenticate as a consumer"
    },
    {
      "name": "CONSUMERS",
      "description": "Retrieve consumer information"
    },
    {
      "name": "OFFERS",
      "description": "Get and redeem offers available to a consumer"
    },
    {
      "name": "IDENTITY VERIFICATION",
      "description": "Verify a consumer's identity"
    },
    {
      "name": "REDEMPTIONS",
      "description": "Retrieve information about redeemed offer"
    }
  ],
  "paths": {
    "/consumer/current": {
      "get": {
        "tags": [
          "CONSUMERS"
        ],
        "summary": "Get Consumer",
        "description": "Get information such as the name, address, and email of the current consumer.",
        "operationId": "findCurrent",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consumer"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ucapp-auth": [
              
            ]
          }
        ]
      }
    },
    "/consumer/current/offers": {
      "get": {
        "tags": [
          "OFFERS"
        ],
        "summary": "Get Offers",
        "description": "Retrieve a list of offers that is available for the current authenticated consumer.",
        "operationId": "findCurrentOffers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConsumerOfferDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_campaign": {
                    "summary": "Invalid campaign",
                    "value": {
                      "timestamp": "2023-05-15T21:58:27.943Z",
                      "status": 400,
                      "error": "Bad Request",
                      "message": "The campaign is not open",
                      "code": "INVALID_CAMPAIGN",
                      "path": "/consumers/current/offers"
                    }
                  },
                  "offers_not_activated": {
                    "summary": "Offers not activated",
                    "value": {
                      "timestamp": "2023-05-15T21:58:27.943Z",
                      "status": 400,
                      "error": "Bad Request",
                      "message": "The campaign has not been activated",
                      "code": "OFFERS_NOT_ACTIVATED",
                      "path": "/consumers/current/offers"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "conflict": {
                    "summary": "Conflict",
                    "value": {
                      "timestamp": "2023-05-15T21:58:27.943Z",
                      "status": 409,
                      "error": "Conflict",
                      "message": "An offer has been redeemed in the current campaign",
                      "code": "OFFER_ALREADY_REDEEMED",
                      "path": "/consumers/current/offers"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ucapp-auth": [
              
            ]
          }
        ]
      }
    },
    "/consumer/current/offers/{id}": {
      "get": {
        "tags": [
          "OFFERS"
        ],
        "summary": "Get Offer",
        "description": "Retrieve the consumer's offer.",
        "operationId": "findCurrentOfferById",
        "parameters": [
          {
            "$ref": "#/components/parameters/offerId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsumerOfferDetailTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "notFound": {
                    "summary": "Not Found",
                    "value": {
                      "timestamp": "2023-05-15T21:58:27.943Z",
                      "status": 404,
                      "error": "Not Found",
                      "message": "This offer is not available",
                      "code": "OFFER_PRODUCT_NOT_FOUND",
                      "path": "/consumers/current/offers/999"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "conflict": {
                    "summary": "Conflict",
                    "value": {
                      "timestamp": "2023-05-15T21:58:27.943Z",
                      "status": 409,
                      "error": "Conflict",
                      "message": "An offer has been redeemed in the current campaign",
                      "code": "OFFER_ALREADY_REDEEMED",
                      "path": "/consumers/current/offers/999"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ucapp-auth": [
              
            ]
          }
        ]
      }
    },
    "/consumer/current/offers/{id}/disclosures": {
      "get": {
        "tags": [
          "OFFERS"
        ],
        "summary": "Get Disclosures",
        "description": "Retrieve the disclosures associated with the offer.",
        "operationId": "findOfferDisclosures",
        "parameters": [
          {
            "$ref": "#/components/parameters/offerId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string",
                  "example": "attachment; filename=\"disclosure.pdf\""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "notFound": {
                    "summary": "Not Found",
                    "value": {
                      "timestamp": "2023-05-15T21:58:27.943Z",
                      "status": 404,
                      "error": "Not Found",
                      "message": "There are no disclosures associated with the offer",
                      "code": "OFFER_DISCLOSURES_NOT_FOUND",
                      "path": "/consumers/current/offers/999/disclosures"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ucapp-auth": [
              
            ]
          }
        ]
      }
    },
    "/consumer/current/offers/{id}/faqs": {
      "get": {
        "tags": [
          "OFFERS"
        ],
        "summary": "Get FAQs",
        "description": "Retrieve a list of frequently asked questions that can be presented to the consumer",
        "operationId": "getFAQs",
        "parameters": [
          {
            "$ref": "#/components/parameters/offerId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FIProductFAQDTO"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ucapp-auth": [
              
            ]
          }
        ]
      }
    },
    "/consumer/current/offers/{id}/redemptions": {
      "post": {
        "tags": [
          "OFFERS"
        ],
        "summary": "Redeem Offer",
        "description": "Redeems the consumer's offer.",
        "operationId": "redeemOffer",
        "parameters": [
          {
            "$ref": "#/components/parameters/offerId"
          }
        ],
        "requestBody": {
          "required": true,
          "$ref": "#/components/requestBodies/Consumers_RedeemOffer"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferRedemptionResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "notFound": {
                    "summary": "Bad Request",
                    "value": {
                      "timestamp": "2023-05-15T21:58:27.943Z",
                      "status": 400,
                      "error": "Bad Request",
                      "message": "Missing Estimated APR",
                      "code": "MISSING_REQUIRED_FIELDS_FOR_REDEEM",
                      "path": "/consumers/current/offers/999/redemptions"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "notFound": {
                    "summary": "Not Found",
                    "value": {
                      "timestamp": "2023-05-15T21:58:27.943Z",
                      "status": 404,
                      "error": "Not Found",
                      "message": "Offer product with requested term and APR is not found",
                      "code": "OFFER_PRODUCT_NOT_FOUND",
                      "path": "/consumers/current/offers/999/redemptions"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "conflict": {
                    "summary": "Conflict",
                    "value": {
                      "timestamp": "2023-05-15T21:58:27.943Z",
                      "status": 409,
                      "error": "Conflict",
                      "message": "An offer has been redeemed in the current campaign",
                      "code": "OFFER_ALREADY_REDEEMED",
                      "path": "/consumers/current/offers/999/redemptions"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ucapp-auth": [
              
            ]
          }
        ]
      }
    },
    "/consumer/current/idverify/sessions": {
      "post": {
        "tags": [
          "IDENTITY VERIFICATION"
        ],
        "summary": "Create Session",
        "description": "Creates a session for verifying a consumer's identity.",
        "operationId": "initiateSession",
        "requestBody": {
          "required": true,
          "description": "A JSON object containing the session type and optional end-user's device information captured by TransUnion JavaScript.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdverifySessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdverifySessionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ucapp-auth": [
              
            ]
          }
        ]
      }
    },
    "/consumer/current/idverify/sessions/{id}": {
      "post": {
        "tags": [
          "IDENTITY VERIFICATION"
        ],
        "summary": "Validate Identity",
        "description": "Performs a digital risk assessment to determine of the consumer can proceed, be denied, or needs to be put through extra scrutiny.",
        "operationId": "validateIdentity",
        "parameters": [
          {
            "$ref": "#/components/parameters/idverifySessionId"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "A JSON object containing the consumer's contact information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdverifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK\n\nIdentity validation has been successfully initiated. In the response, **otp.status** will be set to **Offered** if One-Time Passcode  Authentication should be used. To use OTP, first call [Generate OTP](generateotp) to request that a one-time passcode  be sent to the consumer's phone. Then, have the consumer enter the code in your application and call [Verify OTP](verifyotppasscode)  to validate the code entered matches the code sent. If Knowledge-Based Verification is to be used, **kba.status** will be set to **Offered**  and out-of-wallet questions along with possible answers will be included in the response. These questions and possible answers should be  presented to the consumer and their answers validated using [Validate KBA](validatekba).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdverifyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "notFound": {
                    "summary": "Unauthorized",
                    "value": {
                      "timestamp": "2023-05-15T21:58:27.943Z",
                      "status": 401,
                      "error": "Unauthorized",
                      "message": "The session id has expired.",
                      "code": "IDV_SESSIONID_EXPIRED",
                      "path": "/consumers/current/idverify/sessions/ceedab90-ff1d-11ed-be56-0242ac120002"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "notFound": {
                    "summary": "Not Found",
                    "value": {
                      "timestamp": "2023-05-15T21:58:27.943Z",
                      "status": 404,
                      "error": "Not Found",
                      "message": "The session id has not been not found.",
                      "code": "INVALID_SESSION",
                      "path": "/consumers/current/idverify/sessions/ceedab90-ff1d-11ed-be56-0242ac120002"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ucapp-auth": [
              
            ]
          }
        ]
      }
    },
    "/consumer/current/idverify/sessions/{id}/otp": {
      "post": {
        "tags": [
          "IDENTITY VERIFICATION"
        ],
        "summary": "Generate OTP",
        "description": "Generates a passcode that is sent to the current consumer's phone. The passcode can then be collected and sent to the server by calling [Verify OTP](verifyotppasscode) to validate that the consumer owns the phone number.",
        "operationId": "generateOTP",
        "parameters": [
          {
            "$ref": "#/components/parameters/idverifySessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdverifyOTPResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "notFound": {
                    "summary": "Unauthorized",
                    "value": {
                      "timestamp": "2023-05-15T21:58:27.943Z",
                      "status": 401,
                      "error": "Unauthorized",
                      "message": "The session id has expired.",
                      "code": "IDV_SESSIONID_EXPIRED",
                      "path": "/consumers/current/idverify/sessions/ceedab90-ff1d-11ed-be56-0242ac120002/otp"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "notFound": {
                    "summary": "Not Found",
                    "value": {
                      "timestamp": "2023-05-15T21:58:27.943Z",
                      "status": 404,
                      "error": "Not Found",
                      "message": "Session id is not found.",
                      "code": "INVALID_SESSION",
                      "path": "/consumers/current/idverify/sessions/ceedab90-ff1d-11ed-be56-0242ac120002/otp"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ucapp-auth": [
              
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "IDENTITY VERIFICATION"
        ],
        "summary": "Verify OTP",
        "description": "Verifies the one-time passcode matches the value sent to the consumer's phone by [Generate OTP](generateotp).",
        "operationId": "verifyOTPPasscode",
        "parameters": [
          {
            "$ref": "#/components/parameters/idverifySessionId"
          }
        ],
        "requestBody": {
          "required": true,
          "$ref": "#/components/requestBodies/Consumers_VerifyOTPPasscode"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdverifyOTPResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "notFound": {
                    "summary": "Unauthorized",
                    "value": {
                      "timestamp": "2023-05-15T21:58:27.943Z",
                      "status": 401,
                      "error": "Unauthorized",
                      "message": "The session id has expired.",
                      "code": "IDV_SESSIONID_EXPIRED",
                      "path": "/consumers/current/idverify/sessions/ceedab90-ff1d-11ed-be56-0242ac120002/otp"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "notFound": {
                    "summary": "Not Found",
                    "value": {
                      "timestamp": "2023-05-15T21:58:27.943Z",
                      "status": 404,
                      "error": "Not Found",
                      "message": "Invalid session",
                      "code": "INVALID_SESSION",
                      "path": "/consumers/current/idverify/sessions/ceedab90-ff1d-11ed-be56-0242ac120002/otp"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ucapp-auth": [
              
            ]
          }
        ]
      }
    },
    "/consumer/current/idverify/sessions/{id}/kba": {
      "post": {
        "tags": [
          "IDENTITY VERIFICATION"
        ],
        "summary": "Validate KBA",
        "description": "Verifies the answers provided by the consumer match.",
        "operationId": "validateKBA",
        "parameters": [
          {
            "$ref": "#/components/parameters/idverifySessionId"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "A list of the consumer's answers to the out-of-wallet questions.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IdverifyAnswer"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdverifyKBAResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "notFound": {
                    "summary": "Unauthorized",
                    "value": {
                      "timestamp": "2023-05-15T21:58:27.943Z",
                      "status": 401,
                      "error": "Unauthorized",
                      "message": "The session id has expired.",
                      "code": "IDV_SESSIONID_EXPIRED",
                      "path": "/consumers/current/idverify/sessions/ceedab90-ff1d-11ed-be56-0242ac120002/kba"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "notFound": {
                    "summary": "Not Found",
                    "value": {
                      "timestamp": "2023-05-15T21:58:27.943Z",
                      "status": 404,
                      "error": "Not Found",
                      "message": "Session id is not found.",
                      "code": "INVALID_SESSION",
                      "path": "/consumers/current/idverify/sessions/ceedab90-ff1d-11ed-be56-0242ac120002/kba"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ucapp-auth": [
              
            ]
          }
        ]
      }
    },
    "/consumer/current/redemptions/{id}/summary": {
      "post": {
        "tags": [
          "REDEMPTIONS"
        ],
        "summary": "Email Summary",
        "description": "Send an email to the consumer with information about the redeemed offer",
        "operationId": "exportLoanSummary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The transaction id returned from [Redeem Offer](redeemoffer)."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "True if email successfully sent. Otherwise, false."
                    }
                  }
                },
                "examples": {
                  "emailSuccess": {
                    "summary": "Email sent",
                    "value": {
                      "result": true
                    }
                  },
                  "emailFailure": {
                    "summary": "Email not sent",
                    "value": {
                      "result": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ucapp-auth": [
              
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AddressDTO": {
        "type": "object",
        "name": "Address",
        "description": "Represents an address",
        "properties": {
          "street": {
            "type": "string",
            "description": "The branch's street address",
            "maxLength": 1024,
            "example": "399 PRUITT JUNCTION"
          },
          "city": {
            "type": "string",
            "description": "The city where the branch resides",
            "maxLength": 255,
            "example": "HARMONY"
          },
          "state": {
            "type": "string",
            "description": "The state where the branch resides",
            "maxLength": 2,
            "example": "ME"
          },
          "zipcode": {
            "type": "string",
            "description": "The postal code for the address",
            "maxLength": 16,
            "example": "14942"
          },
          "country": {
            "type": "string",
            "description": "The country prefix",
            "maxLength": 3,
            "example": "USA"
          }
        }
      },
      "Consumer": {
        "type": "object",
        "description": "Represents the consumer",
        "properties": {
          "uuid": {
            "type": "string",
            "description": "The unique identifier for the consumer",
            "format": "uuid"
          },
          "firstName": {
            "type": "string",
            "description": "The first or given name of the consumer",
            "example": "GREGORY"
          },
          "middleName": {
            "type": "string",
            "description": "The middle name of the consumer",
            "example": "B"
          },
          "lastName": {
            "type": "string",
            "description": "The last or surname of the consumer",
            "example": "ARNOLD"
          },
          "suffix": {
            "type": "string",
            "description": "The suffix for the consumer",
            "example": "SR"
          },
          "address": {
            "type": "string",
            "description": "The street address where the consumer resides",
            "example": "399 PRUITT JUNCTION"
          },
          "city": {
            "type": "string",
            "description": "The city where the consumer resides",
            "example": "HARMONY"
          },
          "state": {
            "type": "string",
            "description": "The state where the consumer resides",
            "example": "ME"
          },
          "zipcode": {
            "type": "string",
            "description": "The postal code for the address",
            "example": "14942"
          },
          "zip4": {
            "type": "string",
            "description": "The four-digit delivery route code",
            "example": "2001"
          },
          "county": {
            "type": "string",
            "description": "The county in which the consumer resides",
            "example": "SOMERSET"
          },
          "phoneNumber": {
            "type": "string",
            "description": "The consumer's phone number",
            "example": "2078628493"
          },
          "email": {
            "type": "string",
            "description": "The consumer's email address",
            "format": "email",
            "example": "gregory.a@chen.com"
          },
          "dob": {
            "type": "string",
            "description": "The consumer's date of birth",
            "example": "12061959"
          }
        }
      },
      "ConsumerOfferDTO": {
        "type": "object",
        "name": "Consumer Offer",
        "description": "The offer being presented to the the consumer",
        "properties": {
          "id": {
            "type": "integer",
            "description": "A unqiue identifier for this offer",
            "format": "int32"
          },
          "financialInstitution": {
            "$ref": "#/components/schemas/FinancialInstitutionDTO",
            "description": "The financial institution presenting this offer"
          },
          "name": {
            "type": "string",
            "description": "The name of the product",
            "maxLength": 256,
            "example": "Visa Classic"
          },
          "description": {
            "type": "string",
            "description": "A description of the product being offered",
            "example": "Are you looking to boost your spending power with a credit card that meets your needs? We've got you covered and the best part is, you're already approved. Just activate your offer and we'll take it from there."
          },
          "productType": {
            "$ref": "#/components/schemas/ProductType",
            "description": "The product type",
            "example": "Unsecured Credit Card"
          },
          "terms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LendingCriteriaTermDTO"
            },
            "description": "A list of the lending terms; i.e., the term, loan amount, and APR, available."
          },
          "imageUrl": {
            "type": "string",
            "description": "An optional url for displaying an image of the product",
            "format": "url",
            "example": "https://lender.website.com/cc.png"
          },
          "features": {
            "type": "array",
            "description": "An optional list of product features",
            "items": {
              "type": "string",
              "description": "A product features",
              "example": "$0 Annual Fee"
            },
            "minItems": 1,
            "maxItems": 3,
            "example": [
              "$0 Annual Fee",
              "$150 Bonus Reward",
              "3% Cash Back"
            ]
          }
        }
      },
      "ConsumerOfferDetailTO": {
        "type": "object",
        "name": "Consumer Offer",
        "description": "The offer being presented to the the consumer",
        "allOf": [
          {
            "$ref": "#/components/schemas/ConsumerOfferDTO"
          },
          {
            "type": "object",
            "properties": {
              "details": {
                "type": "object",
                "description": "An optional map of product details",
                "additionalProperties": {
                  "type": "string"
                },
                "example": {
                  "APR for Purchases": "19.49%. This APR will vary based on the Prime Rate.",
                  "APR for Balance Transfers": "0% introductory APR for the first 6 billing cycles. After that, 19.49% to 29.49% based on your credit worthiness when you open your account. This APR will vary based on the Prime Rate.",
                  "APR for Cash Advances": "29.99%. This APR will vary based on the Prime Rate.",
                  "Penalty APR and When It Applies": "Not Applicable.",
                  "How to Avoid Paying Interest on Purchases": "Your due date is 24 - 30 days after the close of each billing cycle. We will not charge you interest on purchases if you pay your entire balance by the due date each month.",
                  "Minimum Interest Charge": "If you are charged interest, the charge will be no less than $1.",
                  "For Credit Card Tips from the Consumer Financial Protection Bureau": "To learn more about factors to consider when applying for or using a credit card, visit the website of the Consumer Financial Protection Bureau at www.consumerfinance.gov/learnmore.",
                  "Annual Fee": "None.",
                  "Balance Transfer": "Either 3% of the amount of each transfer or 5 minimum, whichever is greater.",
                  "Convenience Check Cash Advance": "Either 3% of the amount of each transfer or 5 minimum, whichever is greater.",
                  "Cash Advance ATM": "Either 3% of the amount of each transfer or 5 minimum, whichever is greater.",
                  "Cash Advance": "Either 3% of the amount of each transfer or 5 minimum, whichever is greater.",
                  "Cash Equivalent Advance": "Either 3% of the amount of each transfer or 5 minimum, whichever is greater.",
                  "Overdraft Protection": "$10",
                  "Foreign Transaction": "3% of each foreign transaction.",
                  "Late Payment": "Up to $41",
                  "Returned Payment": "Up to $41",
                  "Overlimit": "Up to $41"
                }
              }
            }
          }
        ]
      },
      "Error": {
        "type": "object",
        "description": "Error",
        "properties": {
          "timestamp": {
            "type": "string",
            "description": "The date/time the request was made",
            "example": "2023-05-15T21:58:27.943Z"
          },
          "status": {
            "type": "integer",
            "description": "The HTTP status code",
            "format": "int32",
            "example": 404
          },
          "error": {
            "type": "string",
            "description": "The HTTP status text",
            "example": "Not Found"
          },
          "code": {
            "type": "string",
            "description": "The error code, which can be used programmatically for handling errors",
            "$ref": "#/components/schemas/ErrorCode",
            "example": "OFFER_ALREADY_REDEEMED"
          },
          "message": {
            "type": "string",
            "description": "A description of the error in a human-readable format",
            "example": "This offer is not available for the current consumer"
          },
          "path": {
            "type": "string",
            "description": "The request url",
            "format": "url",
            "example": "/consumers/current/offers/307"
          }
        }
      },
      "ErrorCode": {
        "type": "string",
        "enum": [
          "ID_VALIDATION_FAILED",
          "IDV_SESSIONID_EXPIRED",
          "INVALID_CAMPAIGN",
          "INVALID_LOAN_SUMMARY_FORMAT",
          "INVALID_SESSION",
          "MISSING_REQUIRED_FIELDS_FOR_REDEEM",
          "OFFER_PRODUCT_NOT_FOUND",
          "OFFER_ALREADY_REDEEMED",
          "OFFERS_NOT_ACTIVATED"
        ]
      },
      "FIBranchDTO": {
        "type": "object",
        "name": "Financial Institution's Branch",
        "description": "One of the financial institution's branches",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of this branch",
            "example": "County Branch"
          },
          "phoneNumber": {
            "type": "string",
            "description": "The branch's phone number",
            "example": "5164449869"
          },
          "address": {
            "$ref": "#/components/schemas/AddressDTO",
            "description": "The branch's address"
          }
        }
      },
      "FIProductFAQDTO": {
        "type": "object",
        "name": "Product FAQ",
        "description": "A frequently asked question and associated answer",
        "properties": {
          "question": {
            "type": "string",
            "description": "The frequently asked question",
            "example": "What happens next?"
          },
          "answer": {
            "type": "string",
            "description": "The answer",
            "example": "We will contact you within 48 hours."
          }
        }
      },
      "FinancialInstitutionDTO": {
        "type": "object",
        "name": "Financial Institution",
        "description": "The financial institution presenting the offer",
        "properties": {
          "id": {
            "type": "integer",
            "description": "A unique identifier for this financial institution",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "The name of this financial institution",
            "example": "Lender Credit Union"
          },
          "logoUrl": {
            "type": "string",
            "description": "A url for displaying the financial institution's logo",
            "example": "https://lender.website.com/logos/mobile.webp"
          },
          "distance": {
            "type": "number",
            "description": "The distance in miles to the nearest branch",
            "format": "double",
            "example": 8.9
          },
          "branch": {
            "$ref": "#/components/schemas/FIBranchDTO",
            "description": "The nearest branch to the consumer"
          }
        }
      },
      "IdverifyAnswer": {
        "type": "object",
        "description": "Represents an out-of-wallet question and the consumer's answer.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The id of the out-of-wallet question.",
            "format": "int32",
            "example": 18
          },
          "answer": {
            "type": "integer",
            "description": "The id of the answer chosen by the consumer."
          }
        },
        "required": [
          "id",
          "answer"
        ]
      },
      "IdverifyChoice": {
        "type": "object",
        "description": "Represents a possible answer to an out-of-wallet question.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier for the possible answer. These will be sequential and used to indicate which answer was chosen by the consumer.",
            "format": "int32",
            "example": 0
          },
          "choiceText": {
            "type": "string",
            "description": "The text for the possible answer.",
            "example": "Goodman"
          }
        },
        "required": [
          "id",
          "choiceText"
        ]
      },
      "IdverifyKBA": {
        "type": "object",
        "description": "Represents the Knowledge-Based Verification status and out-of-wallet questions, if applicable.",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/IdverifyKBAStatus"
          },
          "questions": {
            "description": "The list of out-of-wallet questions to present to the consumer. Questions will be only be included when status is **Offered**.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IdverifyQuestion"
            }
          }
        }
      },
      "IdverifyKBAResponse": {
        "type": "object",
        "description": "Represents the response to the Knowledge-Based Authentication API.",
        "properties": {
          "kba": {
            "$ref": "#/components/schemas/IdverifyKBA"
          },
          "jwtToken": {
            "type": "string",
            "description": "Upon successful validation of the consumer's identity (i.e., kba.status = \"Passed\"), a new JSON Web Token will be returned.  This new bearer token should be passed in the Authorization header for all subsequent API calls.",
            "format": "jwt",
            "example": "jwt-token-assigned"
          }
        }
      },
      "IdverifyKBAStatus": {
        "type": "string",
        "description": "Represents the status of the Knowledge-Based Verification. The status may be:\n\n```  \nIneligible*:    KBA cannot be used to confirm the consumer's identity.\nOffered*^:      Knowledge-based verification questions are included in the response. Call Validate KBA API with the consumer's answers to these questions to validate the consumer's identity.\nPassed^:        The answers provided matched and the consumer's identity validated.\nFailed^:        The answers provided did not match and the consumer's identity could not be validated.\nError*^:        An unexpected error has occurred.\nAbandoned^:     Answers not supplied; verification has been abandoned\n```\n\n\\* Possible status returned from [Validate Identity](validateidentity)\n^  Possible status returned from [Validate KBA](validatekba)\n",
        "enum": [
          "Ineligible",
          "Offered",
          "Passed",
          "Failed",
          "Error",
          "Abandoned"
        ]
      },
      "IdverifyOTP": {
        "type": "object",
        "description": "Represents the One-Time Passcode Authentication status.",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/IdverifyOTPStatus"
          }
        }
      },
      "IdverifyOTPResponse": {
        "type": "object",
        "description": "Represents the response to the One-Time Passcode Authentication API.",
        "properties": {
          "otp": {
            "$ref": "#/components/schemas/IdverifyOTP"
          },
          "jwtToken": {
            "type": "string",
            "description": "Upon successful validation of the consumer's identity (i.e., otp.status = \"Passed\"), a new JSON Web Token will be returned.  This new bearer token should be passed in the Authorization header for all subsequent API calls.",
            "format": "jwt",
            "example": "jwt-token-assigned"
          }
        }
      },
      "IdverifyOTPStatus": {
        "type": "string",
        "description": "Represents the status of the One-Time Passcode Authentication. The status may be:\n\n```  \nIneligible*:    OTP cannot be used to confirm the consumer's identity.\nOffered*:       OTP can be used for identity validation. Call Generate OTP API to request that a one-time passcode be sent to the consumer's phone.\nIn Progress^:   OTP passcode has been sent to the consumer's phone.\nPassed':        The passcode matched the passcode sent to the consumer's phone and the consumer's identity has been validated.\nFailed':        The passcode did not match the passcode sent to the consumer's phone. You may allow the consumer to re-enter the code and try again.\nMax Retry Hit': The maximum number of attempts to validate the passcode has been reached and the consumer's identity cannot be validated.\nError*^':        An unexpected error has occurred.\n```\n\n\\* Possible status returned from [Validate Identity](validateidentity)\n^  Possible status returned from [Generate OTP](generateotp)\n\\' Possible status returned from [Verify OTP](verifyotppasscode)\n",
        "enum": [
          "Ineligible",
          "Offered",
          "In Progress",
          "Passed",
          "Failed",
          "Max Retry Hit",
          "Error"
        ]
      },
      "IdverifyPasscode": {
        "type": "object",
        "description": "Represents the passcode sent to the consumer's phone.",
        "properties": {
          "passcode": {
            "type": "string",
            "description": "The one-time passcode entered by the consumer.",
            "example": "12345"
          }
        }
      },
      "IdverifyQuestion": {
        "type": "object",
        "description": "Represents an out-of-wallet question.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The id used to identify the question.",
            "format": "int32",
            "example": 18
          },
          "questionText": {
            "type": "string",
            "description": "The text for the question.",
            "example": "Which of these last names have you used previously?"
          },
          "choices": {
            "description": "The list of possible answers.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IdverifyChoice"
            },
            "example": [
              {
                "id": 0,
                "choiceText": "Goodman"
              },
              {
                "id": 1,
                "choiceText": "Smith"
              },
              {
                "id": 2,
                "choiceText": "Jones"
              },
              {
                "id": 3,
                "choiceText": "Adams"
              },
              {
                "id": 4,
                "choiceText": "None of the above"
              }
            ]
          }
        },
        "required": [
          "id",
          "questionText",
          "choices"
        ]
      },
      "IdverifyRequest": {
        "type": "object",
        "description": "The consumer's contact information required for communications associated with identity verification.",
        "properties": {
          "phoneNumber": {
            "type": "string",
            "description": "The consumer's phone number.",
            "example": "2078628493"
          },
          "email": {
            "type": "string",
            "description": "The consumer's email address.",
            "format": "email",
            "example": "gregory.a@chen.com"
          }
        },
        "required": [
          "phoneNumber",
          "email"
        ]
      },
      "IdverifyResponse": {
        "type": "object",
        "description": "Represents the response to the Identity Verification API.",
        "properties": {
          "otp": {
            "$ref": "#/components/schemas/IdverifyOTP"
          },
          "kba": {
            "$ref": "#/components/schemas/IdverifyKBA"
          },
          "jwtToken": {
            "type": "string",
            "description": "Upon successful validation of the consumer's identity, a new JSON Web Token will be returned.  This new bearer token should be passed in the Authorization header for all subsequent API calls.",
            "format": "jwt",
            "example": "jwt-token-assigned"
          }
        }
      },
      "IdverifySessionRequest": {
        "type": "object",
        "description": "Represents the identity verification session information",
        "properties": {
          "sessionType": {
            "$ref": "#/components/schemas/IdverifySessionType",
            "example": 0
          },
          "blackbox": {
            "type": "string",
            "description": "(Optional) If device risk verification is desired, device information must be collected and sent to the server using this property. Refer to [Using TruValidate](using-truvalidate) for more information on how to setup your application for Digital Verification.\n",
            "example": "0400CFPWuOvBlNFTM+276GxRfHw+sv+yATHu"
          }
        }
      },
      "IdverifySessionResponse": {
        "type": "object",
        "description": "Represents identity verification session information.",
        "properties": {
          "sessionId": {
            "type": "string",
            "description": "The session id to be used in subsequent identity verification calls.",
            "format": "uuid"
          }
        }
      },
      "IdverifySessionType": {
        "type": "integer",
        "description": "Indicates the type of session being used.\n\n**0** should be used for non-digital cases and digital cases where JavaScript is used to collect device information. (Default)\n**1** should be used for digital cases where the device information was captured from a mobile SDK.\n",
        "enum": [
          0,
          1
        ],
        "default": 0
      },
      "LoanSummaryFormat": {
        "type": "string",
        "enum": [
          "EMAIL",
          "PDF"
        ]
      },
      "LendingCriteriaTermDTO": {
        "type": "object",
        "name": "Lending Criteria Term",
        "description": "The lending criteria terms for the offer",
        "properties": {
          "term": {
            "type": "number",
            "description": "The lending term in months",
            "format": "integer",
            "example": 48
          },
          "apr": {
            "type": "number",
            "description": "The lowest APR available for this offer",
            "format": "double",
            "example": 3.25
          },
          "aprHigh": {
            "type": "number",
            "description": "The highest APR that the consumer would get for this offering",
            "format": "double",
            "example": 3.79
          },
          "minimum": {
            "type": "number",
            "description": "The minimum dollar amount the consumer can request",
            "format": "double",
            "example": 5000
          },
          "limit": {
            "type": "number",
            "description": "The maximum dollar amount the consumer can request",
            "format": "double",
            "example": 60000
          }
        }
      },
      "OfferRedemptionDTO": {
        "type": "object",
        "description": "Redeem offers request body",
        "properties": {
          "requestedAmount": {
            "type": "number",
            "description": "The dollar amount requested by the consumer. Note, this value should be between the minimum and limit specified in the offer term. \n\nIMPORTANT: This field is required for all offers, except heloc and credit cards.\n",
            "format": "double"
          },
          "requestedTerm": {
            "type": "integer",
            "description": "The term in months. Note, this value should be one of the terms listed in the consumer offer terms.",
            "format": "int32"
          },
          "estimatedAPR": {
            "type": "number",
            "description": "This should be set to the apr listed in the consumer offer term. This is used to verify that the offer is still applicable and a rate change did not occur.",
            "format": "double"
          },
          "financialInstitution": {
            "type": "object",
            "description": "The financial institution",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the financial institution where the offer is being redeemed."
              },
              "branchName": {
                "type": "string",
                "description": "The name of the consumer's preferred branch"
              }
            }
          },
          "consumer": {
            "type": "object",
            "description": "Contact and other information for the consumer",
            "properties": {
              "email": {
                "type": "string",
                "description": "The consumer's email",
                "format": "email"
              },
              "phoneNumber": {
                "type": "string",
                "description": "The consumer's mobile phone"
              },
              "annualIncome": {
                "type": "number",
                "description": "The consumer's annual income",
                "format": "double"
              },
              "employerName": {
                "type": "string",
                "description": "The name of the consumer's current employer"
              },
              "jobTitle": {
                "type": "string",
                "description": "The consumer's current job jobTitle"
              },
              "yearsAtEmployer": {
                "type": "integer",
                "description": "The number of whole years working at the current employer"
              },
              "monthsAtEmployer": {
                "type": "integer",
                "description": "The number of months beyond yearsAtEmployer working at the current employer",
                "min": 0,
                "max": 12
              }
            }
          }
        },
        "required": [
          "requestedTerm",
          "estimatedAPR"
        ]
      },
      "OfferRedemptionResponseDTO": {
        "type": "object",
        "description": "Redeem offers response body",
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "The loan number in the LOS system.",
            "example": "UC-123456789"
          }
        }
      },
      "ProductType": {
        "type": "string",
        "enum": [
          "New Auto",
          "Used Auto",
          "Auto Refinance",
          "New Motorcycle",
          "Used Motorcycle",
          "New Boat",
          "Used Boat",
          "New RV",
          "Used RV",
          "Unsecured Credit Card",
          "Unsecured Loan",
          "Home Equity Loan",
          "HELOC",
          "New ATV",
          "Used ATV",
          "New Watercraft",
          "Used Watercraft"
        ]
      }
    },
    "parameters": {
      "offerId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "description": "Unique identifier for the offer",
          "format": "int32"
        }
      },
      "idverifySessionId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "description": "The session id returned from [Create Session](initiatesession).",
          "format": "uuid"
        }
      }
    },
    "requestBodies": {
      "Auth_ConsumerSoftLogin": {
        "description": "A JSON object containing consumer information required for a \"soft\" login",
        "required": true,
        "content": {
          "application/json": {
            "examples": {
              "zipcode": {
                "summary": "Consumer's zipcode",
                "value": {
                  "zipcode": "14942"
                }
              },
              "dob": {
                "summary": "Consumer's date of birth",
                "value": {
                  "dob": "12061959"
                }
              }
            },
            "schema": {
              "type": "object",
              "description": "Represents soft login authentication payload",
              "properties": {
                "zipcode": {
                  "type": "string",
                  "description": "The zipcode where the consumer resides",
                  "example": "14942"
                },
                "dob": {
                  "type": "string",
                  "description": "The consumer's date of birth",
                  "example": "12061959"
                }
              },
              "oneOf": [
                {
                  "required": [
                    "zipcode"
                  ]
                },
                {
                  "required": [
                    "dob"
                  ]
                }
              ]
            }
          }
        }
      },
      "Consumers_RedeemOffer": {
        "description": "A JSON object containing offer redemption information.",
        "required": true,
        "content": {
          "application/json": {
            "examples": {
              "all": {
                "summary": "Include optional information",
                "value": {
                  "offer": {
                    "amount": 10000,
                    "term": 48,
                    "apr": 4.9,
                    "financialInstitutionName": "Lending Bank",
                    "branchName": "Suffolk"
                  },
                  "consumer": {
                    "email": "consumer@email.com",
                    "phoneNumber": 1234567890,
                    "annualIncome": 65000
                  }
                }
              },
              "cc_required": {
                "summary": "Required information for credit cards",
                "value": {
                  "offer": {
                    "term": 0,
                    "apr": 3.5
                  }
                }
              },
              "required": {
                "summary": "Required information for loans",
                "value": {
                  "offer": {
                    "amount": 20000,
                    "term": 36,
                    "apr": 3.5
                  }
                }
              }
            },
            "schema": {
              "$ref": "#/components/schemas/OfferRedemptionDTO"
            }
          }
        }
      },
      "Consumers_VerifyOTPPasscode": {
        "description": "A JSON object containing the passcode.",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/IdverifyPasscode"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "description": "Union Credit API Key",
        "name": "api_key",
        "in": "header"
      },
      "ucapp-auth": {
        "type": "http",
        "description": "Union Credit Authentication",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  }
}